# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.
# https://nunocoracao.github.io/blowfish/docs/getting-started/

theme = "blowfish"
baseURL = "https://gwliang.com/"
defaultContentLanguage = "zh-cn"

enableRobotsTXT = true
summaryLength = 30

buildDrafts = false
buildFuture = false
hasCJKLanguage = true
enableEmoji = true

googleAnalytics = "G-E5D3PPS9ZM"

[taxonomies]
tag = "tags"
category = "categories"
author = "authors"
series = "series"

[sitemap]
changefreq = 'daily'
filename = 'sitemap.xml'
priority = 0.5

[outputs]
home = ["HTML", "RSS", "JSON"]

[pagination]
pagerSize = 100
